In [168]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [169]:
#Using encoding latin-1 since the default doesn't work
df0 = pd.read_csv("online_retail.csv", encoding="latin-1")
df0.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [170]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [171]:
df1 = df0.copy()

In [172]:
#changing the type of invoice number to int
df1['InvoiceNo'] = df1['InvoiceNo'].astype(int)

ValueError: invalid literal for int() with base 10: 'C536379'

In [ ]:
# filtering the invoice numbers with C on front
non_numeric_rows = df1[df1['InvoiceNo'].str.contains('[a-zA-Z]', regex=True)]
non_numeric_rows.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom

In [ ]:
#percentage of values with C on front
non_numeric_rows.shape[0]/df1.shape[0]

0.017144944999990773

In [ ]:
#Since we don't know the nature of these invoices and it only represents 1.7% of the data, we erase them
df1.drop(non_numeric_rows.index, inplace=True)

df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 532618 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    532618 non-null  object
 1   StockCode    532618 non-null  object
 2   Description  531164 non-null  object
 3   Quantity     532618 non-null  int64
 4   InvoiceDate  532618 non-null  object
 5   UnitPrice    532618 non-null  float64
 6   CustomerID   397924 non-null  float64
 7   Country      532618 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 36.6+ MB

In [ ]:
df1['InvoiceNo'] = df1['InvoiceNo'].astype(int)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 532618 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    532618 non-null  int64
 1   StockCode    532618 non-null  object
 2   Description  531164 non-null  object
 3   Quantity     532618 non-null  int64
 4   InvoiceDate  532618 non-null  object
 5   UnitPrice    532618 non-null  float64
 6   CustomerID   397924 non-null  float64
 7   Country      532618 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 36.6+ MB

In [ ]:
#Filtering date and time
df1['InvoiceDate'] = pd.to_datetime(df1['InvoiceDate'], format='%m/%d/%Y %H:%M')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
df1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [ ]:
df2 = df1.copy()

In [ ]:
#Separating day, month, year and hour
df2['Month'] = df2['InvoiceDate'].dt.month
df2['Date'] = df2['InvoiceDate'].dt.day
df2['Year'] = df2['InvoiceDate'].dt.year
df2['Time'] = df2['InvoiceDate'].dt.time
df2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Date,Year,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,12,1,2010,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,1,2010,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,12,1,2010,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,1,2010,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,1,2010,08:26:00

In [ ]:
#droping the initial category
df2.drop('InvoiceDate', axis = 1, inplace =True)

In [ ]:
#Checking if all values of CustomerID end with .0
if (df2['CustomerID'].astype(str).str.endswith('.0')).all():
    print("All values in 'your_column' end with '.0'")
else:
    print("Not all values in 'your_column' end with '.0'")

Not all values in 'your_column' end with '.0'

In [ ]:
df2.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
UnitPrice       1630
CustomerID      4372
Country           38
Month             12
Date              31
Year               2
Time             774
dtype: int64

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   UnitPrice    541909 non-null  float64
 5   CustomerID   406829 non-null  float64
 6   Country      541909 non-null  object
 7   Month        541909 non-null  int32
 8   Date         541909 non-null  int32
 9   Year         541909 non-null  int32
 10  Time         541909 non-null  object
dtypes: float64(2), int32(3), int64(1), object(5)
memory usage: 39.3+ MB

In [ ]:
df2['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [ ]:
df2.groupby('CustomerID')['Country'].unique()

CustomerID
12346.0    [United Kingdom]
12347.0           [Iceland]
12348.0           [Finland]
12349.0             [Italy]
12350.0            [Norway]
                 ...
18280.0    [United Kingdom]
18281.0    [United Kingdom]
18282.0    [United Kingdom]
18283.0    [United Kingdom]
18287.0    [United Kingdom]
Name: Country, Length: 4372, dtype: object

In [ ]:
# Checking the mode of CustomerID in the UK
df_UK = df2[df2['Country'] == "United Kingdom"]
df_UK_mode = df_UK['CustomerID'].mode().iloc[0]
df_UK_mode

np.float64(17841.0)

In [ ]:
df_UK.info()

<class 'pandas.core.frame.DataFrame'>
Index: 495478 entries, 0 to 541893
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    495478 non-null  object
 1   StockCode    495478 non-null  object
 2   Description  494024 non-null  object
 3   Quantity     495478 non-null  int64
 4   UnitPrice    495478 non-null  float64
 5   CustomerID   361878 non-null  float64
 6   Country      495478 non-null  object
 7   Month        495478 non-null  int32
 8   Date         495478 non-null  int32
 9   Year         495478 non-null  int32
 10  Time         495478 non-null  object
dtypes: float64(2), int32(3), int64(1), object(5)
memory usage: 39.7+ MB

In [173]:
# Replace Nan values with the mode in CustiomerID
df2.loc[df2['Country'] == "United Kingdom", 'CustomerID'] = df2.loc[df2['Country'] == "United Kingdom", 'CustomerID'].fillna(df_UK_mode)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   UnitPrice    541909 non-null  float64
 5   CustomerID   541189 non-null  float64
 6   Country      541909 non-null  object
 7   Month        541909 non-null  int32
 8   Date         541909 non-null  int32
 9   Year         541909 non-null  int32
 10  Time         541909 non-null  object
dtypes: float64(2), int32(3), int64(1), object(5)
memory usage: 39.3+ MB

In [177]:
#Checking countries with nan values
df3 = df2[df2['CustomerID'].isna() == True]
df3['Country'].unique()

array(['Hong Kong'], dtype=object)

In [180]:
# Filling the mode for every country (Except HK)
countries = ['United Kingdom','EIRE','Bahrain', 'Israel', 'Unspecified', 'France', 'Switzerland', 'Portugal']

for country in countries:
    df_country = df2[df2['Country'] == country]
    df_country_mode = df_country['CustomerID'].mode().iloc[0]
    df2.loc[df2['Country'] == country, 'CustomerID'] = df2.loc[df2['Country'] == country, 'CustomerID'].fillna(df_country_mode)
#Hong Kong is excluded because it doesn't have a mode (all values are NaN)
df2.loc[df2['Country'] == "Hong Kong", 'CustomerID'] = df2.loc[df2['Country'] == "Hong Kong", 'CustomerID'].fillna(99999.0)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   UnitPrice    541909 non-null  float64
 5   CustomerID   541909 non-null  float64
 6   Country      541909 non-null  object
 7   Month        541909 non-null  int32
 8   Date         541909 non-null  int32
 9   Year         541909 non-null  int32
 10  Time         541909 non-null  object
dtypes: float64(2), int32(3), int64(1), object(5)
memory usage: 39.3+ MB

In [181]:
df2[df2['Country'] == "Hong Kong"]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Month,Date,Year,Time
69623,541975,22620,4 TRADITIONAL SPINNING TOPS,60,1.25,99999.0,Hong Kong,1,24,2011,14:24:00
69624,541975,85183B,CHARLIE & LOLA WASTEPAPER BIN FLORA,6,3.75,99999.0,Hong Kong,1,24,2011,14:24:00
69625,541975,85183A,CHARLIE & LOLA WASTEPAPER BIN BLUE,6,3.75,99999.0,Hong Kong,1,24,2011,14:24:00
69626,541975,16236,KITTY PENCIL ERASERS,28,0.21,99999.0,Hong Kong,1,24,2011,14:24:00
69627,541975,21058,PARTY INVITES WOODLAND,12,0.85,99999.0,Hong Kong,1,24,2011,14:24:00
...,...,...,...,...,...,...,...,...,...,...,...
423776,573154,22452,MEASURING TAPE BABUSHKA PINK,30,2.95,99999.0,Hong Kong,10,28,2011,08:20:00
423777,573154,22492,MINI PAINT SET VINTAGE,36,0.65,99999.0,Hong Kong,10,28,2011,08:20:00
423778,573154,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,8,3.75,99999.0,Hong Kong,10,28,2011,08:20:00
465423,C576233,M,Manual,-1,326.10,99999.0,Hong Kong,11,14,2011,13:26:00
465424,576234,M,Manual,1,326.10,99999.0,Hong Kong,11,14,2011,13:27:00